.slogan
{ font: 500% 'tangerine', arial; }

#content
{ text-align: left;
  width: 630px;
  padding: 25px 0 5px 25px;
  margin: 0;}

#webSiteCpt
{ width: 100%;
  height: 500px;}

td
{ width: 100px;}
tr
{ height: 100px;}